h1 {
  color: darkgreen;
  text-align: left;
}

h2 {
  color: darkgreen;
  text-align: left;
  
}

h2 {
  color: darkgreen;
  text-align: left;
  


h2 {
  color: darkgreen;
  text-align: left;
  
}
h3 {
  color: darkgreen;
  text-align: left;
  
}
h4 {
  color: darkgreen;
  text-align: left;
  
}
p {
  color: green;
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-size: 40px;
  line-height: 30px;
}