h1 {
  color: forestgreen;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: darkgreen;
}

h3 {
  font-style: italic;
  text-align: center;
  color: darkgreen;
}

h4 {
  font-style: italic;
  text-align: center;
  color: darkgreen;
}

h5 {
  font-style: italic;
  text-align: center;
  color: darkgreen;
}

p {
  color: green;
}

body {
  background-color: lightgreen;
}